docker.enabled = true
docker.fixOwnership = true
cleanup = true

datetime = String.format('%tY%<tm%<td_%<tH%<tM', java.time.LocalDateTime.now())

params {

    help = null

    // Required inputs (specify on command line)
    samplesheet = null
    reference_transcriptome = null
    probing_reagent = null // either 'dms' or 'shape'
    sequencing_protocol = null // either 'single_end' or 'paired_end'

    // Defaults
    outdir   = "$projectDir/results/${datetime}/"
    read1_adapter = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
    read2_adapter = "ACACTCTTTCCCTACACGACGCTCTTCCGATCT" // N.B. reverse-complemented to trim unassembled PEAR reads
    quality_cutoff = 17
    min_read_length = 40
    scoring_method = 3 // integer between 1-4 (to be passed to rf-norm --scoring-method)
    normalisation = false // either integer between 1-4 (to be passed to rf-norm --norm-method) or 'false' (skips normalisation: rf-norm --raw)
    run_draco = false
    draco_subsampling = 10000 // number of reads to be sampled for DRACO analysis

}

if (params.run_draco) {

    conda.enabled = true

    process {
        withName: 'DRACO' {
            conda = '/path/to/conda/envs/DRACO'
        }
    }
}

report {
    enabled = true
    file    = "${params.outdir}/nextflow_report_${datetime}.html"
}